.custom-heading {
    font-family: 'Manrope';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: -0.72px;
    color: #E14503;
    margin-bottom: 1rem;
  }
  